.mainHeader {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: blueviolet;
}

.booksTable {
    margin-left: 10%;
    margin-right: 10%;
}

.addBookModalContent {
    display: flex;
    flex-direction: column;
}

.iconContainer:hover {
    cursor: pointer;
    text-align: center;
}

.bookNameHeader {
    margin-left: 20px;
}

.bookNameHeader:hover {
    cursor: pointer;
}

.cardButtons {
    display: flex;
    justify-content: space-between;
}

.bookDetailContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bookCard {
    margin-top: 50px;
}

.bookCardHeader {
    color: blueviolet;
}